.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}
h1 {
  color: #25161b;
  font-size: 45px;
  line-height: 40px;
  font-weight: 100;
}
h2 {
  color: #272343;
  font-size: 35px;
  line-height: 26px;
}
h3 {
  font-size: 15px;
  font-style: italic;
}
li {
  list-style: none;
  color: rgb(11, 11, 11);
  font-size: 18px;
  line-height: 19px;

  font-style: italic;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #113f67;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
small {
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
